services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: pmt_db_v2
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./backup_pmt_db.sql/init.sql:/docker-entrypoint-initdb.d/init.sql

  backend:
    build: ./pmtv2-backend
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/pmt_db_v2
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    depends_on:
      - db

  frontend:
    build: ./pmtv2-frontend
    ports:
      - "4200:80"
    depends_on:
      - backend

volumes:
  pgdata:
